# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
include/
lib/
Lib/
lib64/
lib64
share/
Scripts/
var/

# unittest
tests/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv
pyvenv.cfg
.vscode/

# File system
.DS_STORE
.tmp_fn

# Temporal outputs
out_patterns/
* copy.py
run_*
hash_*
nand_*.csv
reject_*.csv
obligation*.csv
*.log
perf*.csv
block*.csv
commands.yaml
states.yaml
metrics*.csv
bench*.csv
out*/

# not to be included in context window
nandsim_demo.py
tools/